/*NORMALIZER*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  background: hsl(78, 0%, 95%);
  min-height: 100%;
}

article,
aside {
  background: white;
}

nav {
  width: 100%;
}

main {
  height: 100%;
}
/* header */
nav {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  align-items: center;
}

.youtube-logo {
  display: block;
  width: 150px;
  margin-left: 6rem;
}

.search-container {
  padding: 0.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  display: block;
  width: 80%;
  height: 1.8rem;
}

.right {
  display: flex;
  justify-content: center;
}

.fa-arrow-up,
.fa-video,
.fa-bell {
  width: 50px;
  padding: 0.9rem;
  transform: scale(1.5);
  margin-left: 0.5rem;
}

.fa-search {
  padding: 0.4rem;
}

/* main */
.body-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
}

.body {
  width: 75%;
  height: 100%;
  margin: 20px 10px 0px 70px;
  display: flex;
  flex-flow: row wrap;
}
.video {
  width: 100%;
  height: 600px;
}

.main_video {
  min-width: 100%;
  height: 100%;
}

.title_video {
  width: 100%;
  margin: 15px 0;
  font-size: 1.5em;
}

h1{
  margin: 20px 0;
}

.subs {
  width: 100%;
}
.author {
  width: 70px;
}

.uper_icons {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 20px;
}
.left_icons{
  display: flex;
  align-items: flex-end;
}
.subscribers {
  position: relative;
  border: none;
  background-color: red;
  color: white;
  width:120px;
  height: 30px;
  margin-left: 30px;
}

.right_icons p {
  font-size: 20px;
  color: rgb(192, 192, 192);
}

.lower_icons {
  border-top: 1px solid grey;
  padding-top: 10px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0;
}

.l_left_icons{
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 15px;


}

.lower_icons button{
  border: none;
  background-color: white;
}

.l_right_icons{
  padding-right: 15px;
}

.l_right_icons img {
  width: 20px;
}

.publish {
  padding: 25px 50px;
}
.publish h2 {
  font-size: 0.8em;
}
.publish p {
  margin: 15px 0;
}
.show_more {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid gray;
  width: 100%;
  text-align: center;
}
a {
  text-decoration: none;
}

.loading {
  margin-top: 20px;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gif {

  width: 10%;
}

aside {
  width: 500px;
  margin-top: 20px;
  padding: 0.7rem;
}

.options-preview {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.autoplay {
  display: flex;
  justify-content: space-around;
}

.autoplay img {
  margin-left: 0.5rem;
}

.info-icon {
  width: 13px;
}

.blue-box {
  width: 50px;
  height: 20px;
  background-color: rgb(22, 122, 198);
  border-radius: 0.9rem;
  margin-left: 0.5rem;
  display: flex;
  justify-content: flex-end;
}
.check {
  width: 50%;
  height: 100%;
  background: honeydew;
  border-radius: 50%;
}

.recommended-video {
  display: flex;
  margin-top: 0.5rem;
}

.recommended-video img {
  width: 70%;
  height: auto;
}

.info-video {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

hr {
  margin-top: 0.5rem;
}

footer {
  width: 100%;
  max-height: 50px;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.uper_nav {
  margin-left: 20px;
  display: flex;
  flex-direction: row;
}

.uper_nav button {
  margin-right: 20px;
}

ul {
  list-style: none;
}
li {
  margin-right: 10px;
}

.lower_nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.l_lower_nav ul {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 12px;
  color: gray;
}
